@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(rgb(66, 207, 66), rgb(218, 218, 66));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.phone{
  position: relative;
  border: 5px solid white;
  border-radius: 10px;
  height: 600px;
  width: 340px;
  overflow: hidden;
}
.phone .content{
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  width: 100%;
  transition: 0.5s;
}
.phone .content.show{
  opacity: 1;
}
nav{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
nav ul{
  background-color: rgb(213, 233, 226);
  display: flex;
  list-style-type: none;
  height: 70px;
}
nav ul li {
  color: grey;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  flex: 1;
}
nav ul li:hover,
nav ul li.active{
  color: black;
}
nav ul li p{
  font-size: 12px;
  margin: 2px 0;
}